extends ../shared/template

block content

  #headerOutline

  #social
    .facebook
    .twitter
    .inst
    .soundcloud
    .youtube
    .mailinglist

  #phase2
    <iframe width="1280" height="720" src="//www.youtube.com/embed/FV6lZNpTr08" frameborder="0" allowfullscreen></iframe>

  #phase3
    #showTextBox
      #showText
        h2 Upcoming Shows

        #futureShows
          each show in futureShows
            h3= show.venueName
            h4= show.date

    #map

    #pastShowTextBox
      #pastShowText
        h2 Past Shows

        #pastShows
          each show in pastShows
            .pastShow(data-id=show._id.toString())
              h3
                a(href='#')= show.venueName
              h4= show.date


    #pastShowImages
